__pycache__
.vscode/settings.json
astronvim
lvim/plugin
lvim/session
ranger/colorschemes/__init__.py
ranger/plugins/__init__.py
ranger/plugins/ranger_devicons/
ranger/plugins/zoxide/
tmux/plugins
zsh/.zcompdump*
zsh/.zsh_history
zsh/mf.zsh